// /*
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}

.home-section{
  background-color: rgb(230, 230, 230);
  font-size: 16px;
  color: black;
}

.people-section{
  background-color: rgb(230, 230, 230);
  font-size: 16px;
  color: black;
}

#slider {
  background-color: rgb(202, 54, 54);
  font-size: 16px;
  color: black;
}

body {
  background-color: rgb(230, 230, 230);
  font-size: 16px;
  color: black;
}

h1, h2{
  color: #990000;
  font-size: 18px;
  font-weight: bold;
  
}

p{
  font-size: 17px;
  color: black;
}
// */